/* --
  Buttons
-- */
  .btn {
    background: $color-grey-l3;
    display: inline-block;
    font-family: $font-secondary;
    @include font-size($size-btn);
    padding: $space-1 $space-3;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    @media (min-width: $mq-small) {
      width: auto;
    }
  }
  .btn-blue {
    background: $color-blue;
    color: $color-lime-green;
    &:hover {
      background: lighten($color-blue, 5%);
      color: lighten($color-lime-green, 5%);
    }
  }
  .btn-green {
    background: $color-lime-green;
    color: $color-dark-blue;
    &:hover {
      background: lighten($color-lime-green, 5%);
      color: lighten($color-dark-blue, 5%);
    }
  }

/* --
  Logos
-- */
  .comp-logo {
    background: url('../images/logo-primary.png') no-repeat;
    background-size: contain;
    display: inline-block;
    @include text-hide;
  }

/* --
  Navigation
-- */
  .comp-nav {
    .comp-nav-list {
      @include flexbox;
      @include nolist;
    }
    .comp-nav-el {
      margin: 0 $space-3 0 0;
    }
    .comp-nav-link {
      color: $color-black;
      font-family: $font-secondary;
      @include font-size(18);
    }
  }

/* --
  Gallery
-- */
  .comp-gallery {
    @include nolist;
    @include flexbox;
    margin: 0 0 $space-2 0;
    .comp-gallery-ele {
      width: 100%;
    }
    .comp-gallery-img {
      box-shadow: $drop-shadow;
      width: 100%;
    }
  }

  /* --
    Forms
  -- */
    .comp-form-fieldset {
      margin: 0 0 $space-2 0;
    }
    .comp-form-fieldset-combo {
      position: relative;
      .comp-form-el-submit {
        @include font-size(16);
        @include vertical-center;
        right: 3px;
        padding: $space-1 $space-1;
      }
    }
    [class*="comp-form-el-"] {
      border: 0;
      box-shadow: $drop-shadow;
      color: $color-teal;
      font-family: $font-secondary;
      @include font-size(24);
      outline: 0;
      padding: $space-1;
      width: 100%;
      &::-webkit-input-placeholder {
        color: $color-grey-l4;
      }
    }
    .comp-form-el-submit {
      box-shadow: 0 0 0;
      padding: $space-1 $space-3;
      width: auto;
    }
    .comp-form-el-textarea {
      border: 0;
      min-height: 200px;
  }
