/* --
  Universal
-- */
  html {

  }
  body {
    @include font-size(18);
    font-family: $font-primary;
    line-height: 1.5;
  }

/* --
  Headers
-- */
  h1, h2, h3, h4, h5, h6 {
    color: $color-black;
    font-family: $font-secondary;
    margin: 0 0 $space-2;
    padding: 0;
    line-height: 1.2;
  }
  h1 {
    @include font-size($size-h1/1.35);
    @media (min-width: $mq-small) {
      @include font-size($size-h1);
    }
  }
  h2 {
    @include font-size($size-h2/1.35);
    @media (min-width: $mq-small) {
      @include font-size($size-h2);
    }
  }
  h3 {
    @include font-size($size-h3/1.35);
    @media (min-width: $mq-small) {
      @include font-size($size-h3);
    }
  }
  h4 {
    @include font-size(18);
    @media (min-width: $mq-small) {
      @include font-size($size-h4);
    }
  }

/* --
  Lists
-- */
  ul, ol {
    @include font-size($size-ul);
  }

/* --
  Paragraphs
-- */
  p {
    color: $color-black;
    @include font-size($size-p);
    margin-bottom: $space-2;
    &.large {
      @include font-size($size-p*1.2);
      // font-weight: 800;
    }
  }
