// _variables.scss

  $retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

/* --
  Typography
-- */
  // Families
    $font-primary: 'Open Sans', "Helvetica", sans-serif;
    $font-secondary: 'Oswald', "Helvetica", sans-serif;
  // Sizing - Global
    $size-sm: 12;
    $size-md: 18;
    $size-lg: 24;
    $size-xl: 24;
    $size-xxxl: 81;
  // Sizing - Header
    $size-h1: 56;
    $size-h2: 48;
    $size-h3: 36;
    $size-h4: 24;
    $size-h5: 18;
    $size-h6: 14;
  // Sizing - Elements
    $size-p:    $size-md;
    $size-ul:   $size-md;
    $size-btn:  24;

/* --
  Color
-- */
  // Neutrals
    $color-black:       #1D1D21;
    $color-white:       #fff;
    $color-grey:        #6F6F80;
    $color-grey-l1:     lighten($color-grey, 5%);
    $color-grey-l2:     lighten($color-grey, 15%);
    $color-grey-l3:     lighten($color-grey, 25%);
    $color-grey-l4:     lighten($color-grey, 30%);
    $color-grey-d1:     darken($color-grey, 5%);
    $color-grey-d2:     darken($color-grey, 15%);
    $color-grey-d3:     darken($color-grey, 25%);
    $color-grey-d4:     darken($color-grey, 30%);

    $color-white:       #fff;
    $color-pale-green:  #F9FAF2;
    $color-lime-green:  #DAF902;
    $color-blue:        #37AAB3;
    $color-teal:        #257479;
    $color-dark-blue:   #154245;

/* --
  Layout
-- */
  // Margins & Paddings
    $mul:               2;
    $space-1:           1rem;
    $space-2:           $space-1*$mul; // 2
    $space-3:           $space-2*$mul; // 4
    $space-4:           $space-3*$mul; // 8
    $space-5:           $space-4*$mul; // 16




    $drop-shadow:       5px 5px 0 $color-lime-green;
/* --
  Media Queries
-- */
  // @media (min-width: $mq-small) {}
  // iPhone
    $mq-ip5:            321px;
    $mq-ip6:            375px;
    $mq-ip6p:           414px;
  // Screen
    $mq-small:          768px;
    $mq-medium:         992px;
    $mq-large:          1200px;
    $mq-xl:             1440px;

// Animations & Transitions
  $timing:            cubic-bezier(.14, .62, .39, 1);

  .hide-ip5 {
    @media (max-width: $mq-ip5) {
      display: none !important;
    }
  }
