@charset "utf-8";
@import "normalize";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "typography";
@import "grid";
@import "components";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  background: $color-pale-green;
  overflow-x: hidden;
  ::selection {
    background: $color-lime-green; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $color-lime-green; /* Gecko Browsers */
  }
  @media (min-width: $mq-medium) {
    padding-bottom: 40px;
  }
}

.site-masthead {
  @include flexbox;
  @include rotate(90);
  left: -7px;
  position: fixed;
  top: -20px;
  transform-origin: left bottom;
  width: 380px;
  z-index: 1000;
  @media (min-width: $mq-small) {
    left: auto;
    top: auto;
    padding: $space-2 0;
    position: relative;
    @include rotate(0);
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
  }
  .comp-logo {
    height: 50px;
    width: 84px;
    margin-right: $space-2;
    position: absolute;
    bottom: -3px;
    @media (min-width: $mq-small) {
      width: 271px;
      height: 164px;
      position: absolute;
      top: -$space-3;
      bottom: auto;
    }
  }
  .comp-nav {
    @media (min-width: $mq-small) {
      margin: $space-3 0;
      float: right;
    }
  }
}


.site-wrap {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

.site-hero {
  margin: 0;
  padding: $space-3 0;
  position: relative;
  ::selection {
    background: $color-blue; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $color-blue; /* Gecko Browsers */
  }
  &:after {
    background: url('../images/img-herobg-mobile.png') no-repeat center bottom;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    @include horizontal-center;
    top: 0;
  }
  @media (min-width: $mq-small) {
    &:after {
      background: url('../images/img-herobg.png') no-repeat center bottom;
      background-size: cover;
      content: "";
      height: 147%;
      left: 0;
      top: 0;
      width: 1260px;
      z-index: 0;
      @include horizontal-center;
      top: -20rem;
    }
  }
  @media (min-width: $mq-medium) {
    margin: 0 0 $space-4 0;
    &:after {
      content: "";
      height: 163%;
    }
  }
  @media (min-width: $mq-large) {
    margin: 0 0 $space-4 0;
    &:after {
      content: "";
      height: 164%;
    }
  }
  @media (min-width: $mq-xl) {
    margin: 0 0 $space-4 0;
    &:after {
      content: "";
      // height: 140%;
    }
  }
  [class*="headline-word--"] {
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    @media (min-width: $mq-small) {
      text-transform: none;
      line-height: 1.2;
    }
  }
  .headline-word--boom {
    font-size: 30vw;
    @media (min-width: $mq-small) {
      @include font-size(96);
    }
  }
  .headline-word--concepts {
    font-size: 18vw;
    @media (min-width: $mq-small) {
      @include font-size(96);
    }
  }
  .headline-sentence {
    display: inline-block;
  }
}
.site-hero-content {
  position: relative;
  z-index: 10;
}
.site-content {
  padding: $space-4 0;
  position: relative;
  z-index: 10;
}

.site-content--color {
  padding: $space-5 0;
  z-index: 10000;
  @media (min-width: $mq-small) {
    // padding: $space-4 0;
  }
  h2, h3, h4 {
    color: $color-white;
    // opacity: .8;
  }
  p {
    color: $color-white;
    opacity: 1;
    .large {
      opacity: 1;
    }
  }
}

.site-content--about {
  .comp-gallery-1 {
    align-items: center;
    margin: 0 0 $space-4 0;
    @media (min-width: $mq-small) {
      align-items: flex-start;
      .comp-gallery-ele {
        margin: 0 1rem 0 0;
      }
    }
    .comp-gallery-ele:nth-child(1) {
      order: 2;
      @media (min-width: $mq-small) {
        order: 1;
      }
    }
    .comp-gallery-ele:nth-child(2) {
      order: 1;
      @media (min-width: $mq-small) {
        order: 2;
      }
    }
    .comp-gallery-ele:nth-child(3) {
      order: 3;
      @media (min-width: $mq-small) {
        order: 3;
      }
    }
  }
  .comp-gallery-2 {
    display: block;
    margin: 0 0 $space-4 0;
    @media (min-width: $mq-small) {
      display: none
    }
  }
  .comp-gallery-3 {
    display: none;
    @media (min-width: $mq-small) {
      display: block
    }
    .comp-gallery-ele:nth-child(1) {
      z-index: 10;
      position: relative;
    }
    .comp-gallery-ele:nth-child(2) {
      position: relative;
      margin-top: -$space-3;
      left: -$space-3;
      z-index: 1;
      @media (min-width: $mq-large) {
        margin-top: -$space-5;
        left: -$space-5;
      }
    }
  }
}
.site-content--height100 {
  .container-fluid, .row {
    @media (min-width: $mq-large) {
      height: 100%;
    }
  }
}
.site-content--center {
  text-align: center;
}
.site-content--donate {
  -webkit-mask: url('../images/bg-donate.svg') no-repeat center top;
  mask: url('../images/bg-donate.svg') no-repeat center top;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url('../images/img-donate.png') no-repeat center top $color-blue;
  background-blend-mode: luminosity;
  background-size: cover;
  height: auto;
  text-align: center;
  width: 100%;
  @media (min-width: $mq-large) {
    height: 639px;
  }
}

.site-content--contact {
  -webkit-mask: url('../images/bg-contact.svg') no-repeat center top;
  mask: url('../images/bg-contact.svg') no-repeat center top;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url('../images/img-contact.png') no-repeat center top $color-teal;
  background-blend-mode: luminosity;
  background-size: cover;
  margin-top: -64px;
  height: auto;
  width: 100%;
  @media (max-width: $mq-large) {
    padding-bottom: 2rem;
  }
  @media (min-width: $mq-medium) {
    margin-top: -90px;
  }
  @media (min-width: $mq-large) {
    height: 639px;
  }
  .comp-nav {
    margin: 0 0 $space-3 0;
    i {
      color: $color-pale-green;
      @include font-size(24);
    }
    @media (min-width: $mq-large) {
      margin: 0;
    }
  }
}

.site-content--newsletter {
  background: $color-dark-blue;
  padding: $space-2 $space-3;
  text-align: center;
  width: 100%;
  @media (min-width: $mq-medium) {
    left: 0;
    bottom: 0;
    padding: $space-1 0;
    position: fixed;
    text-align: left;
  }
  .comp-form-fieldset, h4 {
    margin: 0;
  }
  h4 {
    color: $color-white;
    margin: 0 0 $space-1 0;
    @media (min-width: $mq-small) {
      margin: 0;
      text-align: right;
    }
  }
  .comp-form-el-input {
    @include font-size(18);
    padding: $space-1 100px $space-1 $space-1;
  }
  .newsletter-btn {
    @media (min-width: $mq-small) {
      margin: 0;
      float: left;
    }
  }
}
