doctype html
html
  head
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"

    title = current_page.data.title || "BOOM Concepts"

    link href='//fonts.googleapis.com/css?family=Open Sans:300,400' rel='stylesheet' type='text/css'
    link href='//fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"

    == stylesheet_link_tag :site
    == javascript_include_tag  "all"

    // Google Analytics
    script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-121953497-1"
    javascript:
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121953497-1');


    // Google Tag Manager
    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PDCDTK4');

  body class="#{page_classes}"
    // Google Tag Manager (noscript)
    noscript
      iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDCDTK4" height="0" width="0" style="display:none;visibility:hidden"

    header.site-masthead
      .container-fluid
        .row
          .col-3.col-md-6
            == link_to 'Boom Concepts', '/', class: "comp-logo"
          .col-9.col-md-6
            nav.comp-nav
              ul.comp-nav-list
                li.comp-nav-el
                  == link_to 'About', '#about', class: "comp-nav-link"
                li.comp-nav-el
                  == link_to 'Donate', '#donate', class: "comp-nav-link"
                li.comp-nav-el
                  == link_to 'Contact', '#contact', class: "comp-nav-link"
                li.comp-nav-el
                  == link_to 'https://twitter.com/BOOMConcepts', class: "comp-nav-link" do
                    i class="fab fa-twitter"
                li.comp-nav-el
                  == link_to 'https://www.instagram.com/boom_concepts/', class: "comp-nav-link" do
                    i class="fab fa-instagram"
                li.comp-nav-el
                  == link_to 'https://www.facebook.com/boomconcepts/', class: "comp-nav-link" do
                    i class="fab fa-facebook"
    main.site-wrap
      == yield