---
title: BOOM Concepts
---

section.site-hero
  .container-fluid
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-lg-10.offset-lg-1.col-xl-9
        .site-hero-content
          h1
            span.headline-word--boom Boom&nbsp;
            span.headline-word--concepts Concepts,&nbsp;
            span.headline-sentence A Creative Hub For Our Community
          .row
            .col-lg-8
              p.large
                | BOOM is a space for field building, knowledge sharing, mentorship, and storytelling.

              == link_to 'Our Mission', '#about', class: "btn btn-blue"

section#about.site-content.site-content--about
  .container-fluid
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-lg-4.offset-lg-1
        h2
          | About Boom Concepts
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-4.offset-md-1.col-lg-4.offset-lg-1
        .row
          .col-lg-10.offset-lg-1
            ul.comp-gallery.comp-gallery-1
              li.comp-gallery-ele
                == image_tag "img-girllooking.png", alt: "Girl Posing", class: "comp-gallery-img"
              li.comp-gallery-ele
                == image_tag "img-peopleworking.png", alt: "People Working", class: "comp-gallery-img"
              li.comp-gallery-ele
                == image_tag "img-manspeaking.png", alt: "Man Speaking", class: "comp-gallery-img"
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-7.offset-md-0.col-lg-6.offset-lg-0
        h3
          | BOOM Concepts is dedicated to the development of artist and creative entrepreneurs representing marginalized voices.
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1
        ul.comp-gallery.comp-gallery-2
          li.comp-gallery-ele
            == image_tag "img-dj-small.png", alt: "DJ Spinning", class: "comp-gallery-img"
    .row
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-5.offset-md-1.col-lg-4.offset-lg-1
        .row
          .col-lg-12
            h2
              | BOOM Concepts operates as a campus with locations across Pittsburgh
        .row
          .col-lg-10.offset-lg-1
            p
              | BOOM Concepts offers artist studios in auxiliary locations across Pittsburgh’s unique neighborhoods, spaces, and resources catered to each artist’s creative and professional goals.
            p
              | Boom Concepts flagship location is located in the Penn Ave Arts and Business District with a 1500 sq ft store front that host monthly art exhibitions as apart of #Unblurred First Friday gallery crawl, as well as film screenings, community meetings, music performances, dance parties, fundraisers, and more!
      .col-11.offset-1.col-sm-11.offset-sm-1.col-md-5.offset-md-1.col-lg-4.offset-lg-1
        ul.comp-gallery.comp-gallery-3
          li.comp-gallery-ele
            == image_tag "img-boomgallery.png", alt: "Boom Gallery", class: "comp-gallery-img"
          li.comp-gallery-ele
            == image_tag "img-dj-large.png", alt: "DJ Spinning", class: "comp-gallery-img"

section#donate.site-content.site-content--donate.site-content--color.site-content--height100
  .container-fluid
    .row.align-items-center
      .col-10.offset-1.col-sm-10.offset-sm-1.col-md-6.offset-md-3
        h2 Donate to Boom Concepts
        p.large
          | Help us bring creativity to span the community of Pittsburgh by donating to our cause.
        == link_to 'Donate', 'https://www.paypal.me/boomconcepts5139', class: "btn btn-green", target: "_blank"
section#contact.site-content.site-content--contact.site-content--color.site-content--height100
  .container-fluid
    .row.align-items-center
      .col-10.offset-1.col-sm-10.offset-sm-1.col-md-8.offset-md-1.col-lg-5.offset-lg-1
        h2 Contact<br /> Boom Concepts
        p.large
          | For business inquiries, questions or comments, please send us a comment in our nice form.
        h4 Visit us on Social Media
        nav.comp-nav
          ul.comp-nav-list
            li.comp-nav-el
              == link_to 'https://twitter.com/BOOMConcepts', class: "comp-nav-link" do
                i class="fab fa-twitter"
            li.comp-nav-el
              == link_to 'https://www.instagram.com/boom_concepts/', class: "comp-nav-link" do
                i class="fab fa-instagram"
            li.comp-nav-el
              == link_to 'https://www.facebook.com/boomconcepts/', class: "comp-nav-link" do
                i class="fab fa-facebook"
      .col-10.offset-1.col-sm-10.offset-sm-1.col-md-6.col-lg-5.offset-lg-0
        form name="contact" method="POST" netlify="netlify"
          fieldset.comp-form-fieldset
            input.comp-form-el-input type="text" placeholder="Your Name" name="Name"
          fieldset.comp-form-fieldset
            input.comp-form-el-input type="email" placeholder="Your Email" name="Email"
          fieldset.comp-form-fieldset
            textarea.comp-form-el-textarea placeholder="Your Message" name="Message"
          fieldset.comp-form-fieldset
            input.comp-form-el-submit.btn.btn-green type="submit" value="Send"
section.site-content.site-content--newsletter.site-content--color.site-content--height100
  .container-fluid
    .row.align-items-center
      .col-12.col-sm-6
        h4.newsletter-header
          | Get dope events in your inbox:
      .col-12.col-sm-6
        == link_to 'Subscribe','http://eepurl.com/dAnXIn', class: "btn btn-green newsletter-btn"